*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding: 2rem;
}

.box-container{
  padding-bottom: 20rem;
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem{
  width: 0.2rem;
  height: 0.2rem;
  background-color: #fff;
  padding: 0.8rem;
  list-style: none;
  margin: 0.2rem;
}

button{
  color: white;
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgb(48, 155, 197);
  font-size: 0.75rem;
  font-weight: 700;
  width: 8rem;
  cursor: pointer;
}